@{
    ViewData["Title"] = "Home Page";
}


<style>
    div div {
        margin-top: 1em;
    }
</style>

<div class="text-center">
    <h1 class="display-4">Calling all APIs</h1>

    <div>
        <a href="/ApiCaller/RandomNumber">Random Number</a>
    </div>
    <div>
        <a href="/ApiCaller/ChuckNoris">Chuck Noris</a>
    </div>
    <div>
        <a href="/ApiCaller/Seleucids">Seleucids</a>
    </div>
</div>
